<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>E-Loan-system</title>
  <!-- Bootstrap core CSS-->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">loan system</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{{ url_for('home') }}">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Home</span>
          </a>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
<!-- MAIN CONTENT -->
      <div class="main-content">
        <div class="container-fluid">
          <!-- OVERVIEW -->
          <div class="panel panel-headline">
            <div class="panel-heading">
              <h3 class="panel-title">View Modify or Delete The Registered Users</h3>
            </div>
                        <div class="table-wrapper">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                        <td>User ID</td>
                                        <td>User Name</td>
                                        <td>Password</td>
                                        <td>Department</td>
                                        <td>NIC Number</td>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for id in values %}
                                        <tr class="odd gradeX" onclick="javascript:showRow(this);">
                                            <td>{{ id[0] }}</td>
                                            <td>{{ id[1] }}</td>
                                            <td>{{ id[2] }}</td>
                                            <td>{{ id[3] }}</td>
                                            <td>{{ id[4] }}</td>
                                        </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    <div class="col-md-7 " style=" padding-top: 25px;">
                        <form action="user_button_act" method="post">
                            <div class="row uniform">
                                <div>
                                    <input type="hidden" name="id" id="id" value="" placeholder="ID" />
                                    <label for="">User name</label>
                                    <input type="text" name="user_name" class="form-control" size="70" placeholder="user name" id="user_name" required = ""/>
                                    <label for="">Password</label>
                                    <input type="text" name="password" class="form-control" size="70" placeholder="Password" id="password" required = ""/>
                                    <label for="">Department</label>
                                    <input type="text" name="department" class="form-control" size="70" placeholder="department" id="department" required = ""/>
                                    <label for="">NIC</label>
                                    <input type="text" name="nic" class="form-control" size="70" placeholder="nic"  id="nic" required = ""/>

                                </div>

                <div class="panel-body">
                  <p class="demo-button">
                    <button input type="submit" name="submit" class="btn btn-primary" onclick="" value="Modify">Modify</button>
                                  <button input type="submit" name="submit" value="Delete" class="btn btn-primary" onclick="return deletefunc()">Delete</button>
                    <button input type="reset" name="submit" class="btn btn-primary">Cancel</button>
                  </p>
                                </div>
                            </div>
                        </form>
                    </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<script>
    {#    show data in form view when click the table row#}
    function showRow(row)
    {
        var x =  row.cells;
        document.getElementById("id").value = x[0].innerHTML;
        document.getElementById("user_name").value = x[1].innerHTML;
        document.getElementById("password").value = x[2].innerHTML;
        document.getElementById("department").value = x[3].innerHTML;
        document.getElementById("nic").value = x[4].innerHTML;
    }
    function deletefunc(){
        var val= confirm("Do you want to Delete  Record?")
        if(val){
            return true;
        }
        else{
            return false;
        }
    }

    {#    disable and enable the modify button#}
    $(document).ready(function(){
        $('input[id = "active"]').attr('disabled', true);
        $('input[type = "text"]').on('keyup', function(){
            var text_value1 = $("#id").val();
            var text_value2  = $("#user_name").val();
            var text_value3  = $("#password").val();
            var text_value4  = $("#department").val();
            var text_value5  = $("#nic").val();
            if(text_value1 != '' || text_value2 != '' || text_value3 != '' || text_value4 != '' || text_value5  != ''){
                $('input[id = "active"]').attr('disabled', false);
            }else{
                $('input[id = "active"]').attr('disabled', true);
            }
        })
    })
</script>
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <script src="../static/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
  <script src="../static/vendor/chartist/js/chartist.min.js"></script>
  <script src="../static/js/klorofil-common.js"></script>

        <!--footer section end-->
  </section>

<script src="../static/js/jquery.nicescroll.js"></script>
<script src="../static/js/scripts.js"></script>
<!-- Bootstrap Core JavaScript -->
   <script src="../static/js/bootstrap.min.js"></script>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>E loan system 2017</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin.min.js"></script>
  </div>
</body>

</html>
